<!-- <div class="container">
    
    <div class="header">
    
    
          <div class="logo">

            
              
              <img class="logo" src="assets/images/log.jpeg" alt="">
          </div>

        <div class="search">
            <input type="text" placeholder="search">
        </div>

        <div class="title">
        
          <label >DronaAcademy</label>

        </div>

        <div class="userlogo">
          <button mat-icon-button [matMenuTriggerFor]="clickHoverMenu" 
            #clickHoverMenuTrigger="matMenuTrigger" (mouseover)="openOnMouseOver()">
            <mat-icon>account_circle</mat-icon>
            <mat-menu #clickHoverMenu="matMenu" overlapTrigger="false">
              <mat-list class="listmenu" dense>
                  <mat-list-item> Messages </mat-list-item>
                  <mat-list-item> Purchase  histroy </mat-list-item>
                  <mat-list-item>  Account </mat-list-item>
                  <mat-list-item>  Payment Methods </mat-list-item>
                  <mat-list-item>  Help </mat-list-item>
                  <mat-list-item>  Logout </mat-list-item>
                </mat-list>
                
                
          </mat-menu>
          </button>
                    
        </div>
    </div>
</div> -->

<div class="userlogo">
    <button mat-icon-button [matMenuTriggerFor]="clickHoverMenu" 
      #clickHoverMenuTrigger="matMenuTrigger" (mouseover)="openOnMouseOver()">
      <mat-icon>account_circle</mat-icon>
     
    </button>
    <div class="menulist">
    <mat-menu #clickHoverMenu="matMenu" overlapTrigger="false">
        <mat-list class="listmenu" dense>
            <mat-list-item> Messages </mat-list-item>
            <mat-list-item> Purchase  histroy </mat-list-item>
            <mat-list-item>  Account </mat-list-item>
            <mat-list-item>  Payment Methods </mat-list-item>
            <mat-list-item>  Help </mat-list-item>
            <mat-list-item>  Logout </mat-list-item>
          </mat-list>
          
          
    </mat-menu> 
  </div>      
  </div>