/* .header
{
  display: flex;
  justify-content: space-around;
  background:lightblue;
} */
.logo
{
  width: 50px;
  height: 50px;
  margin-top: -5px;
}
.search
{
  margin: 15px;
}
.title
{
  margin: 15px;
  font-family: bold;
  color:white;
}
.userlogo
{
  margin: 8px;
}
.clickHoverMenu
{
  margin-left: 5px;
}
/* .container
{
 display: flex;
 flex-direction: column;

} */
.header
{   justify-content: space-between;
    display: flex;
    height:40px;
    background: lightseagreen;
    
}

.listitemmenu
{
    margin-left: 23px;
}

.menulist
{
  margin-left: 200px;
}